.ui-md-4 {
    padding: 0px 50px 0px 0px;
}

.ui-md-6 {
    padding: 0px 50px 0px 0px;
}

.ui-md-3 {
    padding: 0px 30px 0px 0px;
}

.multi-select{
    border: unset !important;
}

.btn-add{
    margin-top: 18px;
    width: 30%;
}

input[type="text"]:disabled {
    color: #000000 !important;
    opacity: 0.8;
}

.p-disabled, .p-component:disabled {
    opacity: 0.9 !important;
}

.p-calendar:disabled {
    opacity: 0.9 !important;
}

.link{
    color: #0066CC;
    text-decoration: underline;
    font-size: 14px;
    bottom: 5px;
    position: absolute;
    right: 0px;
}
