header{
    font-size: larger;
    font-weight: normal;
    padding: 15px;
  }
  
  .header{
    background-color: #9FA7AF;
      border: 1px solid #007ad9;
      color: white;
      margin: -8px -15px 0px -15px;
  }

  th{
    overflow-wrap: break-word;
    width: 150px;
  }

  td{
    overflow-wrap: break-word;
  }

  th small{
    font-weight: normal;
  }

  .red{
    color: red;
  }

  .textColor{
    color: #333333;
  }

  .inputtext{
    border: 1px solid #a6a6a6 !important;
  }
