<div class="grid">
    <mat-card>
        <mat-card-content>
            <div class="number-count">{{newCount}}</div>
            <div>New faults</div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <div class="number-count">{{inProgressCount}}</div>
            <div>In-Progress faults</div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <div class="number-count">{{completedCount}}</div>
            <div>Completed faults</div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <div class="number-count">{{total}}</div>
            <div>Total faults</div>
        </mat-card-content>
    </mat-card>
</div>

<mat-tab-group class="facility-tabs">
    <mat-tab label="Service Requests">
        <app-service-request></app-service-request>
    </mat-tab>
    <mat-tab label="Projects">
        <app-project></app-project>
    </mat-tab>
</mat-tab-group>
