.form-body{
    overflow-y: auto; 
    overflow-x: hidden;
    height: 400px;
    width: 100%; 
    padding: 0px 25px 0px 25px;
}

input{
    width: 100%;
}
.no-border{
    border-bottom: none !important
}

.date{
    font-size: 14px;
    margin-left: -5px;
    margin-top: -9px;
    color: gray;
}

.details{
    font-size: 14px;
    font-weight: normal;
    margin-top: -18px;
}
