/* You can add global styles to this file, and also import other style files */
a { cursor: pointer }

.text-center{
    text-align: center;
}

.row{
    padding: 15px 0px 15px 0px;
}
:host ::ng-deep button {
    margin-right: .25em;
}

:host ::ng-deep .custom-toast .ui-toast-message {
    color: #ffffff;
    background: #FC466B;
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
    background: linear-gradient(to right, #3F5EFB, #FC466B);
}

:host ::ng-deep .custom-toast .ui-toast-close-icon {
    color: #ffffff;
}

.container{
    padding: 70px 15px 0px 120px;
    height: 120%;
    width: 100%;
    bottom: 0px;
    position: absolute;
	top: 0px;
	background-color: #f8f8f8;
	color: #4c4c4c;
}

.dialogBackgroud{
	background-color: gray;
    height: 100%;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 99;
    bottom: 0px;
    position: absolute;
    top: 0px;
    opacity: 0.5;
}
/* Primeng toast */
.ui-toast {
	position: fixed;
	width: 20em;
}

.ui-toast .ui-toast-message {
	position: relative;
	display: block;
	margin-bottom: .75em;
	overflow: hidden;
}

.ui-toast .ui-toast-message-content {
	padding: .5em 1em;
}

.ui-toast .ui-toast-close-icon {
	position: absolute;
	top: .25em;
	right: .25em;
	cursor: pointer;
	display: inline-block;
}

.ui-toast .ui-toast-summary {
	font-weight: bold;
	padding: 0 0 .5em 0;
	display: block;
}

.ui-toast .ui-toast-icon {
	position: absolute;
	display: inline-block;
	left: .5em;
	top: .25em;
	padding: 0;
	font-size: 2em;
}

.ui-toast .ui-toast-message-text-content {
	padding: 0 0 .25em 0;
	margin-left: 2.5em;
}

/*Positions*/
.ui-toast-top-right {
	top: 20px;
	right: 20px;
}

.ui-toast-top-left {
	top: 20px;
	left: 20px;
}

.ui-toast-bottom-right {
	bottom: 20px;
	right: 20px;
}

.ui-toast-bottom-left {
	bottom: 20px;
	right: 20px;
}

.ui-toast-top-center {
	top: 20px;
	left: 50%;
	margin-left: -10em;
}

.ui-toast-bottom-center {
	bottom: 20px;
	left: 50%;
	margin-left: -10em;
}

.ui-toast-center {
	left: 50%;
	top: 50%;
	min-width: 20vw;
	transform: translate(-50%, -50%);
}

body .ui-toast .ui-toast-message {
	-webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	margin: 0 0 1em 0;
}

body .ui-toast .ui-toast-message.ui-toast-message-info {
	background-color: #7fbcec;
	border: 0 none;
	color: #212121;
}

body .ui-toast .ui-toast-message.ui-toast-message-info .ui-toast-close-icon {
	color: #212121;
}

body .ui-toast .ui-toast-message.ui-toast-message-success {
	background-color: #b7d8b7;
	border: 0 none;
	color: #212121;
}

body .ui-toast .ui-toast-message.ui-toast-message-success .ui-toast-close-icon {
	color: #212121;
}

body .ui-toast .ui-toast-message.ui-toast-message-warn {
	background-color: #ffe399;
	border: 0 none;
	color: #212121;
}

body .ui-toast .ui-toast-message.ui-toast-message-warn .ui-toast-close-icon {
	color: #212121;
}

body .ui-toast .ui-toast-message.ui-toast-message-error {
	background-color: #f8b7bd;
	border: 0 none;
	color: #212121;
}

body .ui-toast .ui-toast-message.ui-toast-message-error .ui-toast-close-icon {
	color: #212121;
}

body .ui-widget {
	font-family: "calibri";
	font-size: 14px;
	text-decoration: none;
}

.ui-widget, .ui-widget * {
	box-sizing: border-box;
}

.ui-widget, .ui-widget * {
	border-spacing: 0px;
}

body .ui-toast .ui-toast-message {
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	margin: 0 0 1em 0;
}

.ui-toast .ui-toast-message {
	position: relative;
	display: block;
	margin-bottom: .75em;
	overflow: hidden;
}

.ui-tabview-panels {
    background-color: #FFFFFF0D !important; 
}

.ui-inputtext {
	background: transparent !important;
	border: none !important;
	border-bottom: 1px solid #585858 !important;
	font-family: "calibri"!important;
    font-size: 14px!important;
    text-decoration: none!important;
}

.p-dropdown-label {
    font-family: "calibri"!important;
    font-size: 14px!important;
    text-decoration: none!important;
}

.ui-dropdown {
	background: transparent !important;
	border: none !important;
	border-bottom: 1px solid #585858 !important;

}

.ui-dropdown label.ui-dropdown-label{
	font-weight: normal;
    color: darkgray !important;
}

.ui-fieldset {
	background-color: #FFFFFF0D !important;
	width: 100% !important;
	margin-top: 15px;
	border: none !important;
}

p-fieldset {
	background-color: transparent !important;
	width: 100% !important;
	margin-top: 15px;
	border: none !important;
}

.ui-fieldset-legend a {
	background-color: lightgray !important;
    color: #191919 !important;
}

.ui-dropdown-label-container :focus{
	border: none !important;
}

.ui-tabview-panels {
    width: fit-content !important;
  }

.ui-multiselect .ui-multiselect-label {  
    width: 125px;
}

.ui-calendar .ui-datepicker {
    width: 400px;
    top: auto !important;
}

.ui-inputtext {
    display: flex !important;
    font-size: 14px;
    color: #1b1c1e;
    background: #f5f5f5;
    border: 1px solid #E0E0E0;
    -moz-transition: border-color 0.3s, box-shadow 0.3s;
    -o-transition: border-color 0.3s, box-shadow 0.3s;
    -webkit-transition: border-color 0.3s, box-shadow 0.3s;
    transition: border-color 0.3s, box-shadow 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.p-dropdown::-webkit-input-placeholder {
	font-family: "calibri"!important;
    font-size: 14px!important;
    text-decoration: none!important;
}

.p-dropdown > div > div span{
    font-family: "calibri" !important;
    font-size: 14px !important;
    text-decoration: none !important;
}

.p-multiselect-label {
    font-family: "calibri"!important;
    font-size: 14px!important;
    text-decoration: none!important;
}

.p-calendar .p-inputtext {
    font-family: "calibri"!important;
    font-size: 14px!important;
    text-decoration: none!important;
}

.p-fluid .p-calendar .p-inputtext {
    font-family: "calibri"!important;
    font-size: 14px!important;
    text-decoration: none!important;
}

.p-dropdown {
    border: unset !important;
	background: transparent !important;
}

.p-multiselect {
    border: unset !important;
}

.dropdown-label{
    margin-left: 17px !important;
}

.p-dialog-content {
    background-color: var(--surface-b) !important;
    color: var(--text-color);
}

.p-tabview .p-tabview-panels{
    background-color: var(--surface-b) !important;
    color: var(--text-color);
}

.p-inputswitch {
    width: 3rem;
    height: 1.5rem !important;
}

.uamp-footer{
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background: #ffffff;
    padding-top: 10px;
    padding-right: 0.5%;
    padding-left: 7%;
}

.p-dropdown .p-dropdown-label.p-placeholder {
	font-family: "calibri"!important;
    font-size: 16px!important;
    text-decoration: none!important;
}

.p-datatable .p-datatable-tbody > tr > td {
    font-size: 12px !important;
}
.p-datatable .p-datatable-tbody > tr > td > .p-inputNumber{
    font-size: 12px !important;	
}

.p-inputnumber-input {
    font-size: 12px !important;
}

.p-datatable .p-datatable-thead > tr > th {
	font-size: 12px !important;
	}

.btn-next{
	float:right;
	margin-right: 10px !important
}

.p-splitbutton .p-menu {
    left: -108.9px !important;
    width: 217px !important;
}

.tooltip .ui-tooltip-text {
    width: 10px !important; 
  }

  .p-datepicker { 
	top: 10% !important;
    left: 577.938px;
  }

  .modal { z-index: 1001 !important;} 
.modal-backdrop {z-index: 1000 !important;}
.pac-container {z-index: 1055 !important;}

::ng-deep .modal { z-index: 1001 !important;} 

::ng-deep .modal-backdrop {z-index: 1000 !important;}

::ng-deep .pac-container {z-index: 1055 !important;}

.disabled {
	color: #000000 !important;
	pointer-events: none;
	opacity: 0.8;
}

.p-disabled, .p-disabled * {
    cursor: default !important;
    pointer-events: none;
    opacity: 0.9 !important;
    color: #000 !important;
}

.p-disabled, .p-component:disabled {
    opacity: 0.9 !important;
}

.p-calendar:disabled {
    opacity: 0.9 !important;
}

.p-password{
    width: 100% !important;	
}

.p-inputtext{
	font-size: 13px!important;
	width: 100% !important;
    text-overflow: ellipsis;
}

.p-input-icon-left > .p-inputtext {
    padding-left: 2px !important;
}

.text-error {
	position: absolute;
    top: 40px;
	bottom: 15px;
	color: #a80000;
	font-size: 12px;
}

.ui-inputtext:enabled:focus, .p-inputtext:enabled:focus{
	outline: unset !important;
	border-color: unset !important;
	box-shadow: unset !important;
}

label{
    font-weight: bold;
    font-family: "calibri"!important;
    font-size: 16px!important;
    text-decoration: none!important;
}

.gm-style div[aria-hidden="true"]{
    background-color: white !important;
    padding: 5px;
    border-radius: 5px;
}

.p-fileupload-row{
	padding-top: 5px;
	border-bottom: #585858 solid 1px;
}

.center-date-picker{
	top: 10% !important;
    left: 577.938px;
}

.p-fileupload-row>div {
	padding: 0rem 1rem !important;
    font-size: 14px;
    clear: both;
    margin-left: -17px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 400px;
    text-transform: capitalize;
}
  .p-fileupload-row>div:last-child {
	text-align: right;
	position: inherit;
	text-overflow: unset;
	white-space: unset;
	padding: 0 0.2rem !important;
  }

  .p-fileupload-row>div button{
	padding: 0.429rem 1rem !important;
  }

  .p-fileupload-row>div:nth-child(3) {
	display: none;
  }

  .p-fileupload-row>div:nth-child(1) {
	height: 40px;
    max-width: 150px !important;
    width: auto;
    margin-right: 5px;
  }

  .p-autocomplete {
    width: 100%;
}

.p-autocomplete-panel {
    left: unset !important;
}

.p-autocomplete-item {
    font-size: 13px;
}

.long-text{
    text-overflow: ellipsis !important;
}

  
