.grid {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  margin: 0 0 1rem 0;
}

.grid > div {
  min-width: 10px;
}

.number-count {
  color: #66cfb6;
  font-size: 2em;
  font-weight: 700;
  font-family: "calibri";
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green;
}

.ui-tabview-panels {
  padding: 0em 1em !important;
}

.card{
  text-align: center;
  margin-bottom: 40px;
}

.ui-messages {
  width: 102.7%;
  margin-top: 10px;
  margin-left: -22px;
  }

