header{
    font-size: larger;
    font-weight: normal;
    padding: 15px;
  }
  
  .header{
    background-color: #9FA7AF;
      border: 1px solid #007ad9;
      color: white;
      margin: -8px -15px 0px -15px;
  }

  th{
    overflow-wrap: break-word;
    width: 150px;
  }

  td{
    overflow-wrap: break-word;
  }

  th small{
    font-weight: normal;
  }

.inputOnDataTable input
{
    width: 70px !important;   
}

.inputPeso input
{
    width: 20px !important;   
    margin-left: 20px;
    float: left;
}

small{
  font-size: x-small;
}
