header{
    font-size: larger;
    font-weight: normal;
    padding: 15px;
  }
  
  .header{
    background-color: #9FA7AF;
      border: 1px solid #007ad9;
      color: white;
      margin: -8px -15px 0px -15px;
  }

  .inputtext{
    border: 1px solid #a6a6a6 !important;
  }
  .ui-inputtext {
    width: 90% !important;
  }

  .grayBackgroud{
    background-color: #c8c8c8 !important;
  }
