.ar-card{
    background: #FFFFFF0D;
    color: #fff;
    position: absolute;
    border-radius: .55rem;
    margin-bottom: 30px;
    transition: .5s;
    border: 0;
    width: 24%;
    text-align: center;
    vertical-align: middle;
    height: 130px;
}

.ar-card > h1{
    color: #66cfb6;
    font-size: 2em;
    font-weight: 700;
    font-family: "calibri";
}

.ar-card > p{
    color: #c4c7ca;
    font-size: 1.2em;
    font-weight: lighter;
}

.ui-tabview-panels {
    background-color: transparent !important;    
}

.grid {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    margin: 0 0 1rem 0;
  }
  
  .grid > div {
    min-width: 10px;
  }
  
  .number-count {
    color: #66cfb6;
    font-size: 2em;
    font-weight: 700;
    font-family: "calibri";
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green;
  }

 

