header{
    font-size: larger;
    font-weight: normal;
    padding: 15px;
  }
  
  .header{
    background-color: #9FA7AF;
      border: 1px solid #007ad9;
      color: white;
      margin: -8px -15px 0px -15px;
  }

  .p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
    display: none;
}

.ui-inputtext {
    width: 90% !important;
  }

  @media screen and (max-width: 40rem) {
  
                .p-datatable-thead > tr > th,
                .p-datatable-tfoot > tr > td {
                    display: none !important;
                }

                .p-datatable-tbody > tr > td {
                    text-align: left;
                    display: block;
                    width: 100%;
                    float: left;
                    clear: left;
                    border: 0 none;
                }
                    .p-column-title {
                        padding: .4rem;
                        min-width: 30%;
                        display: inline-block;
                        margin: -.4em 1em -.4em -.4rem;
                        font-weight: bold;
                    }

                    .p-column-title:last-child {
                        border-bottom: 1px solid var(--surface-d);
                    }
                }
            
        
    

