<ng-template #reportFaultDialog>
    <mat-card class="report-dialog report-dialog-wide">
        <mat-card-header class="report-dialog-header">
            <img class="logo-img" src="../../../assets/images/logo.png" alt="Mpumalanga logo">
            <mat-card-title>Mpumalanga Facilities Management</mat-card-title>
            <button mat-icon-button type="button" aria-label="Close report fault form" (click)="closeReportFaultDialog()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content>
            <app-add-fault></app-add-fault>
        </mat-card-content>
    </mat-card>
</ng-template>

<ng-template #trackTicketDialog>
    <mat-card class="report-dialog">
        <mat-card-header>
            <mat-card-title>Track Progress</mat-card-title>
            <button mat-icon-button type="button" aria-label="Close tracking" (click)="closeTrackTicketDialog()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content><app-track-ticket></app-track-ticket></mat-card-content>
    </mat-card>
</ng-template>

<ng-template #reportFaultChoiceDialog>
    <mat-card class="report-dialog">
        <mat-card-header class="report-dialog-header">
            <img class="logo-img" src="../../../assets/images/logo.png" alt="Mpumalanga logo">
            <mat-card-title>Mpumalanga Facilities Management</mat-card-title>
            <button mat-icon-button type="button" aria-label="Close" (click)="closeReportFaultChoiceDialog()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content class="dialog-question">What would you like to do?</mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary" type="button" (click)="reportFaultFromChoice()">
                Report Fault
            </button>
            <button mat-button type="button" (click)="trackTicketFromChoice()">Track Progress</button>
        </mat-card-actions>
    </mat-card>
</ng-template>
